<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>MyChat V2.0</display-name>

    <listener>
        <listener-class>chat.listeners.ActiveUserListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>RootServlet</servlet-name>
        <servlet-class>chat.servlets.RootServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RootServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AccountCheckServlet</servlet-name>
        <servlet-class>chat.servlets.AccountCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountCheckServlet</servlet-name>
        <url-pattern>/api/check-account</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>chat.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/api/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>chat.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/api/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>chat.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/api/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserDetailsServlet</servlet-name>
        <servlet-class>chat.servlets.UserDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDetailsServlet</servlet-name>
        <url-pattern>/api/user/details</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AvatarServlet</servlet-name>
        <servlet-class>chat.servlets.AvatarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AvatarServlet</servlet-name>
        <url-pattern>/api/avatar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>chat.servlets.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/api/change-password</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>chat.servlets.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/api/forgot-password</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserSearchServlet</servlet-name>
        <servlet-class>chat.servlets.UserSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSearchServlet</servlet-name>
        <url-pattern>/api/users/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FriendRequestServlet</servlet-name>
        <servlet-class>chat.servlets.FriendRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FriendRequestServlet</servlet-name>
        <url-pattern>/api/contacts/request</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContactListServlet</servlet-name>
        <servlet-class>chat.servlets.ContactListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactListServlet</servlet-name>
        <url-pattern>/api/contacts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContactActionServlet</servlet-name>
        <servlet-class>chat.servlets.ContactActionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactActionServlet</servlet-name>
        <url-pattern>/api/contacts/action</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PrivateChatServlet</servlet-name>
        <servlet-class>chat.servlets.PrivateChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrivateChatServlet</servlet-name>
        <url-pattern>/api/rooms/private/start</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChatRoomListServlet</servlet-name>
        <servlet-class>chat.servlets.ChatRoomListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatRoomListServlet</servlet-name>
        <url-pattern>/api/rooms</url-pattern> </servlet-mapping>
    <servlet>
        <servlet-name>OnlineContactsServlet</servlet-name>
        <servlet-class>chat.servlets.OnlineContactsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OnlineContactsServlet</servlet-name>
        <url-pattern>/api/users/online-contacts</url-pattern>
    </servlet-mapping>

</web-app>